.hidden {
  display: none !important;
}

a {
  cursor: pointer;
  font-family: 'Covered By Your Grace', cursive;
  color: #000;
  font-size: x-large;
  text-decoration: none;
}

a:hover {
  color: white;
}

i {
  cursor: pointer;
  font-family: 'Covered By Your Grace', cursive;
  color: white;
  font-size: x-large;
  text-decoration: none;
  margin: 0.5rem 0.5rem;
}

i:hover {
  color: #4eec2e;
}

label {
  font-family: 'Covered By Your Grace', cursive;
  font-size: xx-large;
  margin-right: 0;
}

input {
  cursor: pointer;
}

canvas {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid black;
  background-color: white;
  width: 500px;
  height: 500px;
}

img {
  width: 250px;
  height: 250px;
  margin: 20px 0;
}

.img-pg-img {
  width: 500px;
  height: 500px;
}

.top-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: linear-gradient(-70deg, #fd5bac  30%, rgba(0, 0, 0, 0) 30%), linear-gradient(30deg, #fae987 60%, #74e9fd 60%);
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.top-div-canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(-70deg, #fd5bac  30%, rgba(0, 0, 0, 0) 30%), linear-gradient(30deg, #fae987 60%, #74e9fd 60%);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #c4c4c4;
  margin-top: 0;
  padding-top: 0;
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-align: center;
  background-image: linear-gradient(70deg, #fd5bac  30%, rgba(0, 0, 0, 0) 30%), linear-gradient(30deg, #fae987 60%, #74e9fd 60%);
  border: solid 2px black;
}

.header1-h1 {
  font-size: 60px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  position: relative;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border: solid 2px black;
  background-image: linear-gradient(110deg, #74e9fd 60%, #fd5bac 60%);
}

.user-g {
  justify-content: flex-end;
  width: 100%;
}

.user-menu {
  margin-right: 20px;
}

.icon-white {
  color: white;
}

.icon-black {
  color: black;
}

.icon-pink {
  color: hotpink;
}

.icon-dark-g {
  color: #5f5b6b;
}

.icon-red {
  color: red;
}

.icon-green {
  color: #31a819;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fae987;
  background-repeat: repeat;
  width: 120px;
  height: 200px;
  border: solid 2px black;
}

.menu-com {
  left: 0;
}

.menu-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  top: -201px;
  position: absolute;
}

.canvas-menu-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  top: 466px;
  position: absolute;
}

.mini-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  margin-bottom: 2rem;
}

.header-two {
  font-family: 'Covered By Your Grace', cursive;
}

.header-two-h1 {
  font-size: 50px;
  text-align: center;
}

.canvas-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.width-picker {
  margin-left: 0.5rem;
}

.color-picker {
  margin-left: 0.5rem;
}

@media screen and (max-width: 500px) {
  .canvas-menu-row {
    top: 570px;
  }

  canvas {
    height: 300px;
    width: 300px;
  }

  .header1-h1 {
    font-size: 40px;
  }

  label {
    font-size: x-large;
  }

  .img-pg-img {
    width: 300px;
    height: 300px;
  }

  .top-div-canvas {
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .top-div {
    width: 100%;
  }
}

@media screen and (max-height: 500px) {
  .top-div-canvas {
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  canvas {
    width: 300px;
    height: 300px;
  }
}
