.hidden {
  display: none !important;
}

canvas {
  margin-top: 2rem;
  border: 1px solid black;
  background-color: white;
  margin-bottom: 0;
  width: 500px;
  height: 500px;
}

body {
  background-color: #46494c;
}

label {
  margin-right: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.navBar {
  display: flex;
  margin: 0;
  width: 500px;
  height: 50px;
  background-color: #c4c4c4;
  justify-content: space-evenly;
  align-items: center;
}

.iconWhite {
  color: white;
}

.iconPink {
  color: #db2955;
}

.iconDarkG {
  color: #5f5b6b;
}

.iconRed {
  color: red;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c4c4c4;
  width: 100px;
  height: 130px;
  top: 401px;
  left: 546px;
  position: absolute;
}
